.services-wrap {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.services {
  padding: 80px;
  box-sizing: border-box;
}
.services-item {
  width: 270px;
  box-sizing: border-box;
  padding: 0 5px 0 5px;
  min-height: 210px;
  display: flex;
}
.services-item-link {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 5px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.services-item-link-ico {
  box-sizing: border-box;
  width: 64px;
  height: 56px;
  fill: #555555;
}
.services-item-link-title {
  display: block;
  box-sizing: border-box;
  font-size: 22px;
  font-family: "Raleway";
  font-weight: 600;
  color: #555555;
  line-height: 1.2;
  text-align: center;
}
.services-item-link-txt {
  display: block;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Montserrat";
  color: #8c8c8c;
  line-height: 1.714;
  text-align: center;
}
.services-item-link:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
}
.services-item-link:hover .services-item-link-title {
  color: #c7b299;
}
.services-item-link:hover .services-item-link-ico {
  fill: #c7b299;
}
.services-item-link:hover:after {
  background-color: #c7b299;
}
