.site-container {
  width: 1920px;
  margin: 0 auto;
  min-height: 1024px;
  /*outline: 1px solid red;*/
  background-color: #ffffff;
}
@font-face {
  font-family: 'raleway', "Arial";
  src: url('../fonts/raleway/raleway.eot');
  src: url('../fonts/raleway/raleway.eot#iefix') format('embedded-opentype'), url('../fonts/raleway/raleway.woff') format('woff'), url('../fonts/raleway/raleway.ttf') format('truetype'), url('../fonts/raleway/raleway.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'raleway', "Arial";
  src: url('../fonts/raleway/raleway-bold.eot');
  src: url('../fonts/raleway/raleway-bold.eot#iefix') format('embedded-opentype'), url('../fonts/raleway/raleway-bold.woff') format('woff'), url('../fonts/raleway/raleway-bold.ttf') format('truetype'), url('../fonts/raleway/raleway-bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'raleway', "Arial";
  src: url('../fonts/raleway/raleway-extrabold.eot');
  src: url('../fonts/raleway/raleway-extrabold.eot#iefix') format('embedded-opentype'), url('../fonts/raleway/raleway-extrabold.woff') format('woff'), url('../fonts/raleway/raleway-extrabold.ttf') format('truetype'), url('../fonts/raleway/raleway-extrabold.svg') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'raleway', "Arial";
  src: url('../fonts/raleway/raleway-medium.eot');
  src: url('../fonts/raleway/raleway-medium.eot#iefix') format('embedded-opentype'), url('../fonts/raleway/raleway-medium.woff') format('woff'), url('../fonts/raleway/raleway-medium.ttf') format('truetype'), url('../fonts/raleway/raleway-medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'raleway', "Arial";
  src: url('../fonts/raleway/raleway-semibold.eot');
  src: url('../fonts/raleway/raleway-semibold.eot#iefix') format('embedded-opentype'), url('../fonts/raleway/raleway-semibold.woff') format('woff'), url('../fonts/raleway/raleway-semibold.ttf') format('truetype'), url('../fonts/raleway/raleway-semibold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'raleway', "Arial";
  src: url('../fonts/raleway/raleway-regular.eot');
  src: url('../fonts/raleway/raleway-regular.eot#iefix') format('embedded-opentype'), url('../fonts/raleway/raleway-regular.woff') format('woff'), url('../fonts/raleway/raleway-regular.ttf') format('truetype'), url('../fonts/raleway/raleway-regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat', "Arial";
  src: url('../fonts/montserrat/montserrat.eot');
  src: url('../fonts/montserrat/montserrat.eot#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat.woff') format('woff'), url('../fonts/montserrat/montserrat.ttf') format('truetype'), url('../fonts/montserrat/montserrat.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat', "Arial";
  src: url('../fonts/montserrat/montserrat-light.eot');
  src: url('../fonts/montserrat/montserrat-light.eot#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-light.woff') format('woff'), url('../fonts/montserrat/montserrat-light.ttf') format('truetype'), url('../fonts/montserrat/montserrat-light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat', "Arial";
  src: url('../fonts/montserrat/montserrat-regular.eot');
  src: url('../fonts/montserrat/montserrat-regular.eot#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-regular.woff') format('woff'), url('../fonts/montserrat/montserrat-regular.ttf') format('truetype'), url('../fonts/montserrat/montserrat-regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat', "Arial";
  src: url('../fonts/montserrat/montserrat-ultralight.eot');
  src: url('../fonts/montserrat/montserrat-ultralight.eot#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-ultralight.woff') format('woff'), url('../fonts/montserrat/montserrat-ultralight.ttf') format('truetype'), url('../fonts/montserrat/montserrat-ultralight.svg') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'roboto', "Arial";
  src: url('../fonts/roboto/roboto.eot');
  src: url('../fonts/roboto/roboto.eot#iefix') format('embedded-opentype'), url('../fonts/roboto/roboto.woff') format('woff'), url('../fonts/roboto/roboto.ttf') format('truetype'), url('../fonts/roboto/roboto.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto', "Arial";
  src: url('../fonts/roboto/roboto-regular.eot');
  src: url('../fonts/roboto/roboto-regular.eot#iefix') format('embedded-opentype'), url('../fonts/roboto/roboto-regular.woff') format('woff'), url('../fonts/roboto/roboto-regular.ttf') format('truetype'), url('../fonts/roboto/roboto-regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
.main-header {
  width: 100%;
  box-sizing: border-box;
  min-height: 1024px;
  background-color: #555556;
  background-image: url("../img/bg_photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
  display: flex;
  flex-direction: column;
  /*position:relative;*/
}
.main-header:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
/*блок логотипа*/
.main-header-wrap {
  box-sizing: border-box;
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.main-header-wrap-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  /*min-height: 56px;*/
  text-decoration: none;
  margin: 0px 178px 0 0;
}
.main-header-wrap-logo-img {
  display: block;
  fill: #ffffff;
  /*transition: fill 500ms ease-out;*/
}
.main-header-wrap-logo-txt {
  display: block;
  font-size: 34px;
  font-family: "Raleway";
  text-transform: capitalize;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.2;
  text-align: right;
  /*transition: color 500ms ease-out;*/
}
.main-header-wrap-logo:hover .main-header-wrap-logo-img {
  fill: #c7b299;
}
.main-header-wrap-logo:hover .main-header-wrap-logo-txt {
  color: #c7b299;
}
.main-header-wrap-logo:active .main-header-wrap-logo-img {
  fill: #736357;
}
.main-header-wrap-logo:active .main-header-wrap-logo-txt {
  color: #736357;
}
/************/
/* меню сайта*/
.main-header-wrap-nav {
  list-style-type: none;
  margin: 0 130px 0 0 ;
  padding: 0;
  min-width: 640px;
  /*min-height: 56px;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header-wrap-nav-item-link {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat";
  color: #ffffff;
  line-height: 1.2;
  text-align: left;
  text-decoration: none;
}
.main-header-wrap-nav-item-link:hover {
  color: #c7b299;
}
.main-header-wrap-nav-item-link:active {
  color: #736357;
}
/************/
/*кнопки поиска и корзина*/
.main-header-wrap-btn-cart {
  display: block;
  width: 18px;
  height: 24px;
  padding: 0;
  background: none;
  border: none;
  background-image: url("../img/cart_ico.svg");
  background-size: cover;
  margin: 0 0 0 36px;
  position: absolute;
  left: 1065px;
}
.main-header-wrap-btn-cart:hover {
  background-image: url("../img/cart_ico_hover.svg");
}
.main-header-wrap-btn-cart:active {
  background-image: url("../img/cart_ico_active.svg");
}
.main-header-wrap-search[type="search"] {
  /* позишн абсолют?*/
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  background-image: url("../img/search_ico.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 1147px;
  border: 3px solid transparent;
  border-radius: 5px;
  font-family: montserrat;
  color: #fff;
  font-size: 14px;
}
.main-header-wrap-search[type="search"]:focus {
  position: absolute;
  box-sizing: border-box;
  left: 1170px;
  width: 200px;
  transition: width 1s ease-out;
  background-position: right;
  border: 3px solid #c7b299;
  outline: none;
}
.main-header-wrap-search[type="search"]:hover {
  background-image: url("../img/search_ico_hover.svg");
}
.main-header-wrap-search[type="search"]:active {
  background-image: url("../img/search_ico_active.svg");
}
/************/
/*текстовый слайдер*/
.main-header-slid {
  box-sizing: border-box;
  justify-content: center;
  min-height: 800px;
  padding: 278px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.main-header-slid-title-1 {
  box-sizing: border-box;
  width: 600px;
  margin: 0 0 0 0;
  font-size: 36px;
  font-family: "Raleway";
  color: #ffffff;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;
}
.main-header-slid-title-2 {
  box-sizing: border-box;
  margin: 3px 0 0 0;
  width: 600px;
  font-size: 52px;
  font-family: "Raleway";
  color: #ffffff;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
}
.main-header-slid-txt {
  box-sizing: border-box;
  width: 600px;
  margin: 12px 0 0 0;
  font-size: 16px;
  font-family: "Montserrat";
  color: #ffffff;
  line-height: 1.5;
  text-align: center;
}
.main-header-slid-btn {
  box-sizing: border-box;
  width: 170px;
  margin: 50px 0 0 0;
  min-height: 54px;
  text-decoration: none;
  background-color: #998675;
  border-radius: 3px;
  box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #736356;
}
.main-header-slid-btn-txt {
  box-sizing: border-box;
  display: block;
  min-height: 100%;
  min-width: 100%;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.643;
  text-align: center;
}
.main-header-slid-btn:hover {
  background-color: #736356;
  border-bottom: 3px solid #998675;
}
.main-header-slid-btn:hover .main-header-slid-btn-txt {
  color: #CCC;
}
.main-header-slid-btn:active {
  background-color: #000;
  color: #fff;
  border-bottom: 3px solid #ccc;
}
.main-header-slid-arrow-back:after {
  content: "";
  width: 52px;
  height: 52px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #dfff;
  transform: rotate(45deg);
  position: absolute;
  top: 387px;
  left: 122px;
}
.main-header-slid-arrow-back:hover:after {
  border-color: #c7b299;
}
.main-header-slid-arrow-back:active:after {
  border-color: #736357;
}
.main-header-slid-arrow-front:before {
  content: "";
  width: 52px;
  height: 52px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 387px;
  right: 122px;
}
.main-header-slid-arrow-front:hover:before {
  border-color: #c7b299;
}
.main-header-slid-arrow-front:active:before {
  border-color: #736357;
}
/*пагинация для слайдера*/
.main-header-pagination {
  display: flex;
  margin: 46px 0 0 0;
  justify-content: space-between;
  width: 100px;
  align-self: center;
  /*position:absolute;*/
  /*top:98%;*/
  /*left: 50%;*/
}
.main-header-pagination-radio-btn {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid transparent;
  background: #8f8e91 -webkit-linear-gradient(311deg, rgba(14, 14, 18, 0.5) 0%, rgba(45, 45, 53, 0.5) 100%);
  background: #8f8e91 -o-linear-gradient(311deg, rgba(14, 14, 18, 0.5) 0%, rgba(45, 45, 53, 0.5) 100%);
  background: #8f8e91 linear-gradient(41deg, rgba(14, 14, 18, 0.5) 0%, rgba(45, 45, 53, 0.5) 100%);
}
.main-header-pagination-radio-btn:hover {
  border: 2px solid #d3c1ad;
  background: transparent;
}
/************/
.services-wrap {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.services {
  padding: 80px;
  box-sizing: border-box;
}
.services-item {
  width: 270px;
  box-sizing: border-box;
  padding: 0 5px 0 5px;
  min-height: 210px;
  display: flex;
}
.services-item-link {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 5px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.services-item-link-ico {
  box-sizing: border-box;
  width: 52px;
  height: 52px;
  fill: #555555;
  transition: fill 500ms ease;
}
.services-item-link-title {
  display: block;
  box-sizing: border-box;
  margin: 12px 0 0 0;
  font-size: 22px;
  font-family: "Raleway";
  font-weight: 600;
  color: #555555;
  line-height: 1.2;
  text-align: center;
  transition: color 500ms ease-out;
}
.services-item-link-txt {
  display: block;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Montserrat";
  color: #8c8c8c;
  line-height: 1.714;
  text-align: center;
}
.services-item-link:after {
  content: "";
  display: block;
  margin: 13px 0 0 0;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  transition: background-color 500ms ease-out;
}
.services-item-link:hover .services-item-link-title {
  color: #c7b299;
  margin: 9px 0 0 0;
}
.services-item-link:hover .services-item-link-ico {
  margin: 3px 0 0 0;
  fill: #c7b299;
  transition: fill 500ms ease;
}
.services-item-link:hover:after {
  background-color: #c7b299;
}
.services-item-link:active .services-item-link-title {
  color: #736357;
}
.services-item-link:active .services-item-link-ico {
  fill: #736357;
}
.services-item-link:active:after {
  background-color: #736357;
}
.services:after {
  content: "";
  width: 100%;
  clear: both;
}
/***секция реализации идей */
.realization-idea-wrap {
  width: 1230px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.realization-idea {
  width: 100%;
  min-height: 100px;
  padding: 80px;
  padding-bottom: 0;
  box-sizing: border-box;
  background-color: #fbfaf8;
}
.realization-idea-title {
  display: block;
  box-sizing: border-box;
  margin: -4px 0 0 0;
  width: 720px;
  font-size: 30px;
  font-family: "raleway";
  font-weight: 600;
  color: #555555;
  line-height: 1.2;
  text-align: center;
}
.realization-idea-txt {
  display: block;
  box-sizing: border-box;
  margin: 16px 0 0 0;
  width: 720px;
  font-size: 16px;
  font-family: "montserrat";
  color: #8c8c8c;
  line-height: 1.75;
  text-align: center;
}
.realization-idea-img {
  box-sizing: border-box;
  margin: 33px 0 0 0;
  width: 100%;
  min-height: 482px;
  background-image: url("../img/browser-center.jpg"), url("../img/browser-left.jpg"), url("../img/browser-right.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center, bottom left, bottom right;
}
/*****************************/
/***** секция рекламы****/
.promo-wrap {
  width: 1170px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.promo {
  box-sizing: border-box;
  padding: 47px;
  min-height: 150px;
  background-image: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background-image: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background-image: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
}
.promo-box {
  box-sizing: border-box;
}
.promo-box-title {
  display: block;
  margin: -3px 0px 0px 0;
  font-size: 28px;
  font-family: "Raleway";
  color: #fff;
  line-height: 1.2;
  text-align: left;
}
.promo-box-title-first-word {
  color: #c7b299;
  font-size: 28px;
  font-family: "Raleway";
  line-height: 1.2;
  text-align: left;
}
.promo-box-txt {
  display: block;
  margin: 4px 0 0 0;
  font-size: 18px;
  font-family: "Montserrat";
  color: #615855;
  line-height: 1.2;
  text-align: left;
}
.promo-btn {
  align-self: center;
  box-sizing: border-box;
  width: 170px;
  margin: 0 0 0 0;
  min-height: 54px;
  text-decoration: none;
  background-color: #998675;
  border-radius: 3px;
  box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #736356;
}
.promo-btn-txt {
  box-sizing: border-box;
  display: block;
  min-height: 100%;
  min-width: 100%;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.643;
  text-align: center;
}
.promo-btn:hover {
  background-color: #736356;
  border-bottom: 3px solid #998675;
}
.promo-btn:hover .promo-btn-txt {
  color: #CCC;
}
.promo-btn:active {
  background-color: #000;
  color: #fff;
  border-bottom: 3px solid #ccc;
}
/***********************************/
.latest-project-wrpap {
  width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.latest-project {
  box-sizing: border-box;
  padding: 80px;
}
.latest-project-title {
  display: block;
  width: 730px;
  margin: -3px 0 0 0;
  box-sizing: border-box;
  font-size: 30px;
  font-family: "Raleway";
  color: #555555;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
}
.latest-project-txt {
  display: block;
  width: 730px;
  margin: 15px 0 0 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Montserrat";
  color: #8c8c8c;
  line-height: 1.75;
  text-align: center;
}
.latest-project-cram {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 28px 0 0 0;
}
.latest-project-cram-item {
  margin: 5px;
  min-width: 70px;
  display: block;
  border-style: solid;
  border-width: 1px;
  border-color: #ebebeb;
  border-radius: 3px;
  background-color: rgba(17, 17, 17, 0);
  transition: background-color 500ms ease-out, border 500ms ease-out, color 500ms ease-out;
}
.latest-project-cram-item-link {
  box-sizing: border-box;
  text-decoration: none;
  display: block;
  padding: 5px 20px 5px 20px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: "Montserrat";
  color: #8c8c8c;
  line-height: 1.5;
  text-align: center;
}
.latest-project-cram-item:hover {
  background-color: #998675;
  border-color: #998675;
}
.latest-project-cram-item:hover .latest-project-cram-item-link {
  color: #fff;
}
.latest-project-cram-item:active {
  background-color: #736356;
  border-color: #736356;
}
.latest-project-cram-item:active .latest-project-cram-item-link {
  color: #fff;
}
.latest-project-box {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 34px 0 0 0;
}
.latest-project-box-item {
  box-sizing: border-box;
  margin: 15px;
  width: 370px;
  min-height: 335px;
  /*outline: 1px solid red;*/
}
.latest-project-box-item:nth-child(1),
.latest-project-box-item:nth-child(2),
.latest-project-box-item:nth-child(3) {
  margin-top: 0;
}
.latest-project-box-item:nth-last-child(1),
.latest-project-box-item:nth-last-child(2),
.latest-project-box-item:nth-last-child(3) {
  margin-bottom: 0;
}
.latest-project-box-item:nth-child(3n) {
  margin-right: 0;
}
.latest-project-box-item:nth-child(3n+1),
.latest-project-box-item:nth-child(1) {
  margin-left: 0;
}
.latest-project-btn {
  box-sizing: border-box;
  width: 170px;
  margin: 44px 0 0 0;
  min-height: 54px;
  border: none;
  text-decoration: none;
  background-color: #998675;
  border-radius: 3px;
  box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #736356;
}
.latest-project-btn-txt {
  box-sizing: border-box;
  display: block;
  min-height: 100%;
  min-width: 100%;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.643;
  text-align: center;
}
.latest-project-btn:hover {
  background-color: #736356;
  border-bottom: 3px solid #998675;
}
.latest-project-btn:hover .latest-project-btn-txt {
  color: #CCC;
}
.latest-project-btn:active {
  background-color: #000;
  color: #fff;
  border-bottom: 3px solid #ccc;
}
.latest-project-box-item-figure {
  margin: 0;
}
.latest-project-box-item-figure-img {
  display: block;
  box-sizing: border-box;
  width: 370px;
  height: 235px;
}
.latest-project-box-item-figure-txt {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 100px;
  padding: 24px;
  position: relative;
  background-color: #fbfaf8;
  transition: background-color 500ms ease-out;
}
.latest-project-box-item-figure-txt:before {
  content: "";
  display: block;
  position: absolute;
  top: -29px;
  left: 21px;
  border: 20px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  transition: border 500ms ease-out;
}
.latest-project-box-item-figure-txt-title {
  display: block;
  margin: 3px 0 0 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Raleway";
  color: #c7b299;
  line-height: 1.2;
  font-weight: 500;
  text-align: left;
  transition: color 500ms ease-out;
}
.latest-project-box-item-figure-txt-text {
  display: block;
  box-sizing: border-box;
  margin: 3px 0 0 0;
  font-family: "Montserrat";
  color: #d1d1d1;
  line-height: 1.429;
  text-align: left;
  transition: color 500ms ease-out;
}
.latest-project-box-item {
  position: relative;
}
.latest-project-box-item-shadow {
  visibility: hidden;
  opacity: 0;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: opacity 500ms ease-out;
}
.latest-project-box-item-shadow:before {
  content: "";
  background-image: -webkit-linear-gradient(bottom, rgba(33, 27, 25, 0.5) 0%, rgba(78, 52, 39, 0.5) 100%);
  background-image: -o-linear-gradient(bottom, rgba(33, 27, 25, 0.5) 0%, rgba(78, 52, 39, 0.5) 100%);
  background-image: linear-gradient(to top, rgba(33, 27, 25, 0.5) 0%, rgba(78, 52, 39, 0.5) 100%);
  position: absolute;
  width: 370px;
  height: 235px;
  top: 0;
  left: 0;
}
.latest-project-box-item-shadow-link {
  display: block;
  width: 26px;
  height: 26px;
  box-sizing: border-box;
  background-image: url("../img/link.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 106px;
  left: 144px;
  transition: background-image 500ms ease-out;
}
.latest-project-box-item-shadow-link:hover {
  background-image: url("../img/link_hover.svg");
}
.latest-project-box-item-shadow-link:active {
  background-image: url("../img/link_active.svg");
}
.latest-project-box-item-shadow-search {
  display: block;
  width: 26px;
  height: 25px;
  box-sizing: border-box;
  background-image: url("../img/lupa.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 106px;
  left: 198px;
  transition: background-image 500ms ease-out;
}
.latest-project-box-item-shadow-search:hover {
  background-image: url("../img/lupa_hover.svg");
}
.latest-project-box-item-shadow-search:active {
  background-image: url("../img/lupa_active.svg");
}
.latest-project-box-item:hover .latest-project-box-item-shadow {
  visibility: visible;
  opacity: 1;
}
.latest-project-box-item:hover .latest-project-box-item-figure-txt {
  background-color: #362f2d;
}
.latest-project-box-item:hover .latest-project-box-item-figure-txt:before {
  border: 20px solid transparent;
  border-bottom: 10px solid #362f2d;
  z-index: 2;
}
.latest-project-box-item:hover .latest-project-box-item-figure-txt-title {
  color: #fff;
}
.latest-project-box-item:hover .latest-project-box-item-figure-txt-text {
  color: #c7b299;
}
.video-presentation {
  position: relative;
}
.video-presentation-slice {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video-presentation-slice-box {
  position: relative;
}
.video-presentation-slice-box-btn {
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
  background-color: black;
  opacity: 0.2;
}
.video-presentation-slice-box-btn-ico {
  position: absolute;
  top: 14px;
  left: 14px;
  display: block;
  background-image: url("../img/play_ico.svg");
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
}
.video-presentation-slice-title {
  display: block;
  width: 570px;
  box-sizing: border-box;
  font-size: 30px;
  font-family: "Raleway";
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
  font-weight: 500;
}
.video-presentation-slice-txt {
  display: block;
  width: 570px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Montserrat";
  color: #ffffff;
  line-height: 1.75;
  text-align: center;
}
.video-presentation-slice-timestamp {
  display: block;
  width: 570px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Montserrat";
  color: #c7b299;
  line-height: 1.714;
  text-align: center;
}
.mobile {
  background-color: #fbfaf8;
  width: 100%;
  box-sizing: border-box;
  padding: 80px 80px 0 80px;
}
.mobile-wrap {
  margin: 0 auto;
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.mobile-img {
  display: block;
  box-sizing: border-box;
  margin: -6px 0 0 46px;
}
.mobile-box {
  width: 700px;
  padding: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.mobile-box-sum {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 0px;
}
.mobile-box-title {
  display: block;
  box-sizing: border-box;
  margin: 68px 0 0 0;
  font-size: 30px;
  font-family: "Raleway";
  font-weight: 600;
  color: #555555;
  line-height: 1.2;
  text-align: left;
}
.mobile-box-txt {
  margin: 30px 0 0 0;
  display: block;
  font-size: 16px;
  font-family: "Montserrat";
  color: #8c8c8c;
  line-height: 1.75;
  text-align: left;
}
.mobile-box-details {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Montserrat";
  color: #8c8c8c;
  line-height: 2;
  text-align: left;
  border: 1px solid black;
}
.mobile-box-details-txt {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Montserrat";
  color: #8c8c8c;
  line-height: 2;
  text-align: left;
}
.mobile-box-summary {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Montserrat";
  color: #8c8c8c;
  line-height: 2;
  text-align: left;
}
